Garble Grbl *Water Filter* THIS IS THE HOME PAGE!
<!doctype html>
	<head> 
		<title></title>
	</head>
	<body>
		<form action="/results" method="post">
			<input type="text" name="genre">
			<input type="submit">
		</form> 
	</body>
</html>