<!doctype html>
	<head> 
		<title>Genre Song Finder</title>
    	<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body id="homepage_body">
		<h1>こんにちは‼ 元気です？</h1>
		<h2>Input any genre of music.</h2>
		<form action="/results" method="post">
			<input type="text" name="genre">
			<input type="submit">
		</form> 
	</body>
</html>