<!doctype html>
  <head>
    <title> results_page </title>
    <link rel="stylesheet" type="text/css" href="css/results.css">
  </head>
  <body id="results_page_body">
    <%@songs.each do |song|%>
    <p><%=song.song_name%></p>
    <p>This song is by: <%=song.artist_name%></p>
    <p>For this figure out how to embed an audio track in html. <%=song.preview_url%></p>
    <p>This song is explicit: <%=song.explicit%></p>
    <%end%>
  </body>
</html>