<!doctype html>
  <head>
    <title> results_page </title>
    <link rel="stylesheet" type="text/css" href="css/results.css">
  </head>
  <body id="results_page_body">
  	<h1>天国</h1>
  <div id="mega">
    <%@songs.each do |song|%>
    <div id="standard">
	    <h3><%=song.song_name%></h3>
	    <p>This song is by: <%=song.artist_name%></p>
	    <% if song.explicit ==true %>
	    	This song is explicit.
	    <% end %><br>
	    <audio controls>
	     <source src=<%=song.preview_url%>></source>
	 	</audio>
	 </div>
    <%end%>
   </div>
  </body>
</html>