body {
  background-color: #a00fa8;
  text-align: center;
  color: white;
  font-family: 'Roboto', arial;
}

div#standard{
	border-style: double;
	border-color: white;
	width: 70%;
	padding:3px;
	margin: auto;
	padding-bottom: 20em;
}
#mega{
	position: relative;
}
