body {
  background-color: #a00fa8;
  text-align: center;
  color: white;
  font-family: 'Roboto', arial;
}

div.stuck {
	border-style: double;
	border-color: white;
	margin-top: 30px;
	margin-left: 20px;
	width: 50%;
}

.stuck h3{
	margin-top: 0.5em;
}

ul {
	overflow: hidden;
}

div#list {
	margin-left: auto;
}

div#list @media screen and (max-width: 1280px) {
	font-size: 30px;
	margin-left: 1000%;
	color: blue;
}

div#list @media screen and (max-width: 950px) {
	font-size: 25px;
	margin-left: 40%;
	color: red;
}


div#list @media screen and (max-width: 650px) {
	font-size: 20px;
	margin-left: 30%;
	color: yellow;
}

div#list @media screen and (max-width: 480px) {
	font-size: 15px;
	margin-left: 20%;
	color: green;
}

li {
/*	display: inline;*/
	width: 50%;
}

.left-of-left {
	text-align: left;
	float: left;
}

p {
	text-align: right;
}
/*
Song_Title{
  text-align: center;
}*/