#homepage_body {
  background-image: '../music.jpg';
  text-align: center;
}

#results_page_body {
  background-image: '../pick_a_song.img';
  text-align: center;
}

#Artist_Picture {
/*  border-color: red;
  border-width: 7px;
}*/

Song_Title{
  text-align: center;
}